html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  padding-top: 0.5rem;
}
/*HEADER LOGO*/
.header-logo {
  justify-self: center;
  align-self: center;
}
.logo-picture {
  display: block;
}
/* HEADER SEARCH*/
.header-search {
  justify-self: center;
  align-self: center;
}
.search-container {
  text-align: center;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  width: 15vw;
  padding: 0.5em;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.search__text {
  color: #8e8e8e;
  font-size: 1.3rem;
}
.search__icon {
  background-image: url("../img/icono.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 0.6rem;
  vertical-align: top;
}
/*HEADER NAV*/
.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 0.1fr);
  column-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  padding-left: 0;
}
.nav-list__item {
  display: inline-block;
}
.nav-list-picture {
  display: block;
  width: 3rem;
  height: 3rem;
}
.nav-list-picture__img {
  width: 100%;
  vertical-align: top;
}
/*MAIN*/
.main {
  background-color: #fafafa;
  padding: 2rem;
}
.post-list {
  display: grid;
  grid-template-columns: repeat(3,minmax(10rem,29.3rem));
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}
.post {
  cursor: pointer;
  position: relative;
  display: block;
}
.post-figure {
  margin: 0;
}
.figure__img {
  width: 100%;
  vertical-align: top;
}
.post-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.post:hover .post-overlay {
  display: flex;
}
.data {
  width: 8rem;
  margin: 0.5rem;
  font-weight: 900;
  text-align: center;
  display: inline-block;
}

/*MEDIA*/
@media screen and (max-width:900px){
    .post-list{
        gap:0.3rem;
    }
    .header-search{
        width: 80%;
    }
    .search-container{
        width: auto;
    }
}
@media screen and (max-width:500px){
    
    .header-logo{
        grid-column-start:1;
        grid-column-end: 1;
        grid-row-start: 1;
        align-self:center;
        justify-self:flex-end;
        margin-left: 1rem;
    }
    .header-nav{
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start: 1;
        align-self:center;
        justify-self: flex-end;
        margin-right: 1rem;
    }
    .header-search{
       display: none;
    }
}